html ::selection,
body ::selection,
button ::selection,
input ::selection,
select ::selection,
textarea ::selection {
	background: #e8e8e8;
	color: #fff;
}

body {
	color: #6b6b6b;
	background-color: #e8e8e8;
}

html, body, .page, .content{
	height: 100%;
}