/*******************
 * Contact Page CSS
 *******************/
 .contact-form ,
 .contact-errors {
   padding: 0 30px;
   margin: 0 auto;
   max-width: 600px;
 }
   .contact-form>.form-group>.contact-submit {
     color: #212325;
     background-color: #ff9a00;
     border-color: #ffb302;
   }

     .contact-form>.form-group>.contact-submit:hover,
     .contact-form>.form-group>.contact-submit:focus {
       background-color: #f80;
     }
   .contact-form>.form-group.required>label:after {
     content: " *";
     color: #c00;
   }
   .contact-form>.form-group.required>.input-group>span.captcha {
     display: table-cell;
     position: relative;
     font-size: 0;
     white-space: nowrap;
     vertical-align: top;
   }
     .contact-form>.form-group.required>.input-group>span.captcha img {
       margin-top: -1px;
       margin-right: -1px;
     }
     .contact-errors>ul {
       padding-left: 50px;
       list-style-type: disc;
     }
 @media (min-width: 768px) {
   .contact-form {
     padding: 0 45px 15px;
   }
 }