/*******
 * Logo
 *******/
	.logo>a {
		color: #f5f5f5;
		text-align: center;
		text-decoration: none;
		display: block;
	}
		.logo>a>img {
			height: 64px;
			margin: 20px auto 0;
		}
@media (min-width: 768px) {
	.logo {
		padding: 50px 0;
	}
		.logo>a>img {
			height: auto;
		}
}