:root {
  --bs-navbar-active-color: var(--bs-orange);
  --bs-heading-color: var(--bs-emphasis-color);
  --bs-link-color-rgb: 254, 178, 114;
  --bs-link-hover-color-rgb: 254, 203, 161;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-orange);
  --bs-btn-border-color: var(--bs-orange);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-orange);
  --bs-btn-hover-border-color: var(--bs-orange);
  --bs-btn-focus-shadow-rgb: 254, 178, 114;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-orange);
  --bs-btn-active-border-color: var(--bs-orange);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-orange);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-orange);
  --bs-gradient: none;
}